<form class="form-signin" [formGroup]="esqueceuSenhaForm">
  <div class="container">
    <div style="margin-top: 7%" class="row">
      <span class="ui-float-label col-12">
        <input id="inpEmailEsqueceuSenha" pInputText formControlName="email" type="email" class="col-12" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
        <label class="col-12" for="inpEmailEsqueceuSenha">
          Email
        </label>
      </span>
    </div>
    <div class="row">
      <app-log-erro [mostraErro]="verificaValidTouched('email')" msgErro=" Email inválido!" class="col-12 my-1"></app-log-erro>
    </div>
  </div>
</form>
