<p-card #pnl>
  <div class="text-center">
    <h2>Novo Requisito</h2>
  </div>
  <app-requisito-card [edit]="edit" [requisito]="requisito" #card></app-requisito-card>
  <div class="text-center my-1">
    <button pButton class="ui-button-success" label="Salvar" icon="fa fa-fw fa-save" id="btnSalvar" [disabled]="!card.requisitoForm.valid"
      (click)="card.salvarDados(); salvarRequisito()"></button>
    <button pButton label="Cancelar" icon="fa fa-fw fa-times-circle" class="ui-button-danger" id="btnCancelar" (click)="cancelar()"></button>
  </div>
  <div class="text-center">
    <app-log-erro [mostraErro]="!card.requisitoForm.valid" [msgErro]="msgErroRequisito" class="mt-1"></app-log-erro>
  </div>
</p-card>
<p-blockUI [target]="pnl" [blocked]="blockedPanel">
  <i class="fa fa-lock fa-5x" style="position:absolute;top:100%;left:100%"></i>
  <div class="text-center">
    <i class="fa fa-pulse fa-spinner" style="font-size: 150px;">
    </i>
  </div>
</p-blockUI>
