<ng-container #pnl>
  <div class="row">
    <h2 class="col-sm-6">{{ projeto?.nome }} - Atividades</h2>
    <div class="col-sm-6">
      <button icon="fa fa-plus" pButton label="Nova Atividade" class="ui-button-success float-right" (click)="novaAtividade()"></button>
    </div>
  </div>
  <hr>
  <div *ngIf="atividades?.length > 0">
    <p-table paginator="true" selectionMode="single" [columns]="cols" [value]="atividades" [rows]="10" dataKey="nome" [responsive]="true"
      [autoLayout]="true" id="listaAtividade">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>{{ rowData.idAtividade }}</td>
          <td>{{ rowData.nome }}</td>
          <td>{{ rowData.status }}</td>
          <td>{{ rowData.dataInicio }}</td>
          <td>{{ rowData.dataFim }}</td>
          <td>{{ rowData.criador.nome }}</td>
          <td>{{ rowData.desenvolvedor.nome }}</td>
          <td class="text-center">
            <button id="editarBtn" pButton icon="fa fa-edit" (click)="detalheAtividade(rowData.idAtividade)" class="ui-button-warning"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="atividades?.length < 1">
    <p>Este projeto nao possui casos de uso.</p>
  </div>
</ng-container>
<p-blockUI [target]="pnl" [blocked]="blockedPanel">
  <i class="fa fa-lock fa-5x" style="position:absolute;top:100%;left:100%"></i>
  <div class="text-center">
    <i class="fa fa-pulse fa-spinner" style="font-size: 150px;">
    </i>
  </div>
</p-blockUI>
