<div class="row text-center">
  <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
    <p-card title="Trocar senha">
      <form class="form-signin" [formGroup]="trocarSenhaForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div style="margin-top: 7%" class="row">
            <span class="ui-float-label col-12">
              <input id="inpEmailTrocarSenha" pInputText formControlName="email" type="email" class="col-12" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
              <label class="col-12" for="inpEmailTrocarSenha">
                <i class="fa fa-at"></i>
                Email
              </label>
            </span>
          </div>
          <div class="row">
            <app-log-erro [mostraErro]="verificaValidTouched('email')" msgErro=" Email inválido!" class="col-12 my-1"></app-log-erro>
          </div>
          <div style="margin-top: 7%" class="row">
            <span class="ui-float-label col-12">
              <input id="inpSenhaTrocarSenha" formControlName="senha" type="password" pPassword promptLabel="Digite uma senha" weakLabel="fraca"
                mediumLabel="media" strongLabel="forte" required class="col-12">
              <label for="inpSenhaTrocarSenha" class="col-12">
                <i class="fa fa-lock"></i>
                Senha
              </label>
            </span>
          </div>
          <div class="row">
            <app-log-erro [mostraErro]="verificaValidTouched('senha')" msgErro=" Senha invalida!" class="col-12 my-1"></app-log-erro>
          </div>
          <div style="margin-top: 7%" class="row">
            <span class="ui-float-label col-12">
              <input id="inpConfirmarSenhaTrocarSenha" formControlName="confirmarSenha" type="password" pInputText required class="col-12">
              <label for="inpConfirmarSenhaTrocarSenha" class="col-12">
                <i class="fa fa-lock"></i>
                Confirmar senha
              </label>
            </span>
          </div>
          <div class="row">
            <app-log-erro [mostraErro]="verificaSenha()" msgErro=" Senha invalida!" class="col-12 my-1"></app-log-erro>
          </div>
          <br>
          <div class="text-center row">
            <button icon="fa fa-sign-in" class="col-12" pButton iconPos="left" label="Entrar" type="submit" id="btnLogin" [disabled]="!verificaForm()"></button>
          </div>
        </div>
      </form>
      <p-message *ngIf="trocaSenhaLog" severity="success" text="Senha alterada com sucesso."></p-message>
      <app-log-erro [mostraErro]="erroTrocarSenha" [msgErro]="' '+msgErroTrocarSenha" class="col-12 my-1"></app-log-erro>
    </p-card>
  </div>
</div>
<br>
