<ng-container *ngIf="!edit; else editAtividade">
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Nome:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ atividadeAux?.nome }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Descricao:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ atividadeAux?.descricao }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Status:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ atividadeAux?.status }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Data inicio:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ atividadeAux?.dataInicio }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Data fim:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ atividadeAux?.dataFim }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Requisito:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ atividadeAux?.requisito.nome }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Desenvolvedor:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ atividadeAux?.desenvolvedor.nome }}
      </span>
    </div>
  </div>
</ng-container>
<ng-template #editAtividade>
  <form [formGroup]="atividadeForm">
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Nome:
      </strong>
      <div class="col-sm-8">
        <input pTooltip="Titulo da atividade" tooltipPosition="right" tooltipEvent="focus" class="col-sm-8" pInput formControlName="nome"
          required type="text" id="nomeInp">
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Descricao:
      </strong>
      <div class="col-sm-8">
        <input pTooltip="Descrição da atividade" tooltipPosition="right" tooltipEvent="focus" class="col-sm-8" pInput formControlName="descricao"
          required type="text" id="nomeInp">
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Status:
      </strong>
      <div class="col-sm-8">
        <p-dropdown formControlName="status" [options]="status" [(ngModel)]="statusSelecionado"></p-dropdown>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Data inicio:
      </strong>
      <div class="col-sm-8">
        <p-calendar dateFormat="dd/mm/yy" formControlName="dataInicio"></p-calendar>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Data fim:
      </strong>
      <div class="col-sm-8">
        <p-calendar dateFormat="dd/mm/yy" formControlName="dataFim"></p-calendar>
      </div>
    </div>
    <div class="form-group row mb-0" *ngIf="!novo">
      <strong class="col-sm-4 col-form-label text-right">
        Atividade concluida em:
      </strong>
      <div class="col-sm-8">
        <p-calendar dateFormat="dd/mm/yy" formControlName="dataConclusao"></p-calendar>
      </div>
    </div>
    <div class="form-group row mb-0" *ngIf="novo">
      <strong class="col-sm-4 col-form-label text-right">
        Requisito:
      </strong>
      <div class="col-sm-8">
        <p-dropdown formControlName="requisito" [options]="requisitos" [(ngModel)]="requisitoSelecionado"></p-dropdown>
      </div>
    </div>
    <div class="form-group row mb-0" *ngIf="novo">
      <strong class="col-sm-4 col-form-label text-right">
        Desenvolvedor:
      </strong>
      <div class="col-sm-8">
        <p-dropdown formControlName="desenvolvedor" [options]="desenvolvedores" [(ngModel)]="desenvolvedorSelecionado"></p-dropdown>
      </div>
    </div>
  </form>
</ng-template>
