<p-card #pnl>
  <div class="text-center">
    <h2>{{ integrante?.nome }}</h2>
  </div>
  <app-integrante-card [edit]="edit" [integrante]="integrante" #card></app-integrante-card>
  <br>
  <div class="text-center">
    <button *ngIf="edit" pButton class="ui-button-success" label="Salvar" icon="fa fa-fw fa-save" id="btnSalvar" [disabled]="!card.integranteForm.valid"
      (click)="card.salvarDados(); salvarEdicao()"></button>
    <button *ngIf="!edit && permissao" pButton class="ui-button-warning" label="Editar" icon="fa fa-edit" id="btnEditar" (click)="edit = true"></button>
    <button *ngIf="!edit" pButton label="Voltar" icon="fa fa-long-arrow-left" class="ui-button-danger" id="btnVoltar" (click)="cancelar()"></button>
    <button *ngIf="edit" pButton label="Cancelar" icon="fa fa-fw fa-times-circle" class="ui-button-danger" id="btnCancelar" (click)="edit = false"></button>
    <button label="Deletar" *ngIf="!edit && permissao" id="deletarBtn" pButton icon="fa fa-trash" class="ui-button-danger" (click)="deletar()"></button>
  </div>
  <br>
  <div class="text-center">
    <app-log-erro *ngIf="edit" [mostraErro]="!card.integranteForm.valid" msgErro="Os campos sao obrigatorios"></app-log-erro>
  </div>
  <div class="text-center" *ngIf="deletarIntegranteLog">
    <app-log-erro [mostraErro]="erroDeletarIntegrante" [msgErro]="' '+msgErroDeletarIntegrante" class="col-12 my-1"></app-log-erro>
  </div>
</p-card>
<p-blockUI [target]="pnl" [blocked]="blockedPanel">
  <i class="fa fa-lock fa-5x" style="position:absolute;top:100%;left:100%"></i>
  <div class="text-center">
    <i class="fa fa-pulse fa-spinner" style="font-size: 150px;">
    </i>
  </div>
</p-blockUI>
