<ng-container *ngIf="!edit; else editCasoDeUso">
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Nome:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ casoDeUsoAux?.nome }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Escopo:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ casoDeUsoAux?.escopo }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Nivel:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ casoDeUsoAux?.nivel }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Ator Principal:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ casoDeUsoAux?.atorPrincipal }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Pré-condição:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ casoDeUsoAux?.preCondicao }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Pós-condição:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ casoDeUsoAux?.posCondicao }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Cenario principal:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ casoDeUsoAux?.cenarioPrincipal }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-right">
      Extensão:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ casoDeUsoAux?.extensao }}
      </span>
    </div>
  </div>
</ng-container>
<ng-template #editCasoDeUso>
  <form [formGroup]="casoDeUsoForm">
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Nome:
      </strong>
      <div class="col-sm-8">
        <input pTooltip="titulo caso de uso, geralmente ligado com um requisito" tooltipPosition="right" tooltipEvent="focus" class="col-sm-8"
          pInput formControlName="nome" required type="text" id="nomeInp">
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Escopo:
      </strong>
      <div class="col-sm-8">
        <textarea pTooltip="abrangencia dentro do projeto" tooltipPosition="right" tooltipEvent="focus" class="col-sm-8" pInputTextArea
          required formControlName="escopo"></textarea>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Nivel:
      </strong>
      <div class="col-sm-8">
        <p-dropdown formControlName="nivel" [options]="nivel" [(ngModel)]="nivelSelecionado"></p-dropdown>
      </div>

    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Ator Principal:
      </strong>
      <div class="col-sm-8">
        <input pTooltip="quem fara a ação" tooltipPosition="right" tooltipEvent="focus" class="col-sm-8" pInputText formControlName="atorPrincipal">
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Pré-condicão:
      </strong>
      <div class="col-sm-8">
        <input pTooltip="requisitos ou condicoes para executar a acao" tooltipPosition="right" tooltipEvent="focus" class="col-sm-8"
          pInputText formControlName="preCondicao">
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Pós-condicão:
      </strong>
      <div class="col-sm-8">
        <input pTooltip="o que acontecera depois de executar a acao" tooltipPosition="right" tooltipEvent="focus" class="col-sm-8"
          pInputText formControlName="posCondicao">
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Cenario principal:
      </strong>
      <div class="col-sm-8">
        <textarea pTooltip="descrever o que o ator principal ira fazer para realizar com sucesso a acao" tooltipPosition="right"
          tooltipEvent="focus" class="col-sm-8" pInputTextArea formControlName="cenarioPrincipal"></textarea>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-right">
        Extensão:
      </strong>
      <div class="col-sm-8">
        <input pTooltip="cenario alternativo / sem sucesso. Ex.: perder a conexao com o sistema" tooltipPosition="right" tooltipEvent="focus"
          class="col-sm-8" pInputText formControlName="extensao">
      </div>
    </div>
  </form>
</ng-template>
